{% extends 'hometouser/base.html' %} {% load static %} {%block nav_bar%}
<nav class="navbar navbar-expand-lg bg-body-tertiary py-5">
  <div class="container-fluid">
    <a class="navbar-brand"> Welcome {{user.username}} </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-tem"></li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="views"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Views
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/board/">Board</a></li>
            <li><a class="dropdown-item" href="/list">List</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">About</a></li>
          </ul>
        </li>
      </ul>

        <a class="btn btn-outline-danger" href="{% url 'hometouser:logout' %}">
          Logout
        </a>
    </div>
  </div>
</nav>
{%endblock%} {% block enter_username %} {{display_name}} {% endblock %} {% block start_message%}
<div class="fs-1 text-center start-message">Cick on views to get started!</div>
<div class="summary">
  <h1>A few things of note</h1>
  <ul>
    <li>When making a task make sure to format the time as the following: mm/dd/yyyy</li>
    <li>Some features are still in development such as removing categories</li>
    <li>The about page has not yet been filled out but coming soon!</li>
  </ul>
</div>

{%endblock%}
