{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Kanban Board</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
        <link type="text/css" rel="stylesheet" href="{% static 'hometouser/style.css' %}"/>
    </head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary py-5">
    <div class="container-fluid">
        <a class="navbar-brand"> List view for {{user.username}} </a>
        <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-tem"></li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'hometouser:home' display_name=user.username%}"
                >Home</a
              >
            </li>
            <li class="nav-item dropdown">
            <a
                class="nav-link dropdown-toggle"
                id="views"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                Views
            </a>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/board/">Board</a></li>
                <li><a class="dropdown-item" href="/list">List</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#">About</a></li>
            </ul>
            </li>
        </ul>

        <a class="btn btn-outline-danger" href="{% url 'hometouser:logout' %}">
        Logout
        </a>
        </div>
    </div>
    </nav>
    {%for category in categories%}
    {%if user.username == category.user.username%}
    <div class="ms-5 mb-5">
        <h2 class="w-75"style="background-color: {{category.color}}">{{ category.category }}</h2>
        <ul class="list-group">
        {% for task in tasks %} {% if category.category == task.category.category and user.username == task.user.username %}
        <a href="#" class="w-75 list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{task.name}}</h5>
            <small>{{task.due_date}}</small>
            </div>
            <p class="mb-1">{{task.description}}</p>
            <small>Assigned to {{task.user_on_task}}</small>
        </a>
    </ul>
    {% endif %} {% endfor %}
    </div>
    {% endif %} {% endfor %}

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.min.js" integrity="sha384-RuyvpeZCxMJCqVUGFI0Do1mQrods/hhxYlcVfGPOfQtPJh0JCw12tUAZ/Mv10S7D" crossorigin="anonymous"></script>    
</body>
</html>